@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap");

html {
  --background: #353535;
  --button-bg-color: #c2f261;
  --button-border-color: #628201;
  --button-text-color: #353535;
  --shadow: rgba(0, 0, 0, 0.3);
}

body {
  background: var(--background);
}

button {
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  font-family: "Anonymous Pro", monospace;
  margin: 0 auto 5px auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  border: none;
  background: var(--button-bg-color);
  text-shadow: 0 1px 0px #fff;
  box-shadow: 0 3px 0 var(--button-border-color), 0 5px 3px var(--shadow);
  color: #353535;
  font-size: 16px;
  cursor: pointer;
  transition: all 20ms;
}

.started-and-paused .pause-button {
  box-shadow: 0 1px 0 var(--button-border-color), 0 3px 3px var(--shadow);
  transform: translateY(2px);
}

button:focus {
  outline: none;
}
/* button:hover {
  box-shadow: 0 2px 0 var(--button-border-color), 0 4px 3px var(--shadow);
  transform: translateY(1px);
} */

button:active,
.started-and-paused .pause-button:active {
  box-shadow: 0 0px 0 var(--button-border-color), 0 1px 3px var(--shadow);
  transform: translateY(3px);
}

.controls ul {
  display: grid;
  list-style: none;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0;
  padding: 10px;
}

.controls li button {
  width: 100%;
  height: 100%;
}
