.panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: grid;
  font-size: 20px;
  z-index: 2;
}

.panel.hidden {
  height: 0;
}

.panel-content {
  border: solid 4px #c2f261;
  padding: 20px;
  background: #353535;
  color: #c2f261;
  margin: auto;
  width: 80%;
}
